.fullscreen {
  position: relative;
  min-height: 100vh;



  @media (min-width: $md2) {
    min-height: clamp(toRem(550), 100vh, toRem(9999));
  }

  @media (min-width: $md0) {
    min-height: clamp(toRem(800), 100vh, toRem(9999));
  }

  @media (max-width: $md2) {
    min-height: clamp(toRem(600), 100dvh, toRem(9999));
  }

  @media (max-width: $md3) {
    margin: calc(0rem - (var(--menu-mob-from-top) + var(--menu-mob-height))) toRem(0) toRem(0) toRem(0);
  }

  // .fullscreen__center
  &__center {
    @media (max-width: $md3) {
      position: absolute;
      width: 100%;
      bottom: 50%;
      left: 0;
    }
  }

  // .fullscreen__items
  &__items {
    @media (max-width: $md3) {
      padding: toRem(0) var(--container-padding);
      margin: toRem(0) toRem(0) toRem(36) toRem(0);
    }
  }

  // .fullscreen__item
  &__item {
    @media (min-width: $md3) {
      position: absolute;
      transform: translate(0, 50%);
      bottom: 50%;
      // bottom: percent(528, $maxHeight);
      left: 0;

      @media (max-width: $md2) {
        bottom: percent(258, 540);
      }

      &:first-child {
        left: percent(178, $maxWidth);

        @media (max-width: $md0) {
          left: percent(132, $laptop);
        }

        @media (max-width: $md1) {
          left: toRem(47);
        }
      }

      &:nth-child(2) {
        left: percent(653, $maxWidth);

        @media (max-width: $md0) {
          left: percent(469, $laptop);
        }

        @media (max-width: $md1) {
          left: percent(251, $tablet);
        }

        @media (max-width: $md2) {
          left: percent(201, $mob);
        }
      }

      &:nth-child(3) {
        left: percent(1287, $maxWidth);

        @media (max-width: $md0) {
          left: percent(805, $laptop);
        }

        @media (max-width: $md1) {
          left: percent(569, $tablet);
        }

        @media (max-width: $md2) {
          left: percent(390, $mob);
        }
      }

      // &:nth-child(4) {
      //   left: percent(1602, $maxWidth);

      //   @media (max-width: $md0) {
      //     left: percent(1094, $laptop);
      //     // right: percent(132, $laptop);
      //   }

      //   @media (max-width: $md1) {
      //     // left: auto;
      //     left: percent(799, $tablet);
      //     // right: percent(47, $tablet);
      //   }

      //   @media (max-width: $md2) {
      //     left: percent(611, $mob);
      //     // right: percent(49, $mob);
      //   }
      // }
    }

    @media (max-width: $md3) {
      &:not(:last-child) {
        &::after {
          content: " ";

        }
      }

      &:nth-child(3) {
        display: block;
      }
    }



    // .fullscreen__item-text
    &-text {
      @extend .title2;
    }

    // .fullscreen__item-image
    &-image {
      @extend .ibg;
      width: toRem(140);
      padding-bottom: percent(180, 140);
    }
  }


  // .fullscreen__inter
  &__inter {
    position: absolute;
    top: clamp(toRem(114), vh(114), toRem(400));
    // left: toRem(20);
    left: percent(653, $maxWidth);

    @media (max-width: $md0) {
      top: clamp(toRem(72), vh(72, 688), toRem(300));
    }

    @media (max-width: $md1) {
      left: var(--container-padding);
      top: clamp(toRem(93), vh(93, 540), toRem(200));
    }

    @media (max-width: $md3) {
      top: 50%;
      margin: toRem(30) 0px 0px 0px;
    }

    // .fullscreen__inter-text
    &-text {
      @extend .text;
      -webkit-text-stroke: 0;
    }

    // .fullscreen__inter-begin
    &-begin {
      margin: toRem(80) toRem(0) toRem(0) toRem(0);
      @extend .text-link;

      @media (max-width: $md0) {
        margin: toRem(40) toRem(0) toRem(0) toRem(0);
      }
    }
  }


  // .fullscreen__work
  &__work {
    position: absolute;
    right: var(--container-padding);
    bottom: var(--container-padding);
    // bottom: percent(118, $maxHeight);
    // left: percent(971, $maxWidth);

    @media (max-width: $md1) {
      bottom: toRem(16);
    }

    // .fullscreen__work-body
    &-body {
      display: flex;
      border: toRem(1) solid $mainColor;
      background-color: $whiteColor;
    }

    // .fullscreen__work-image
    &-image {
      flex: 0 0 auto;
      padding: toRem(6) toRem(0) toRem(6) toRem(6);

      // .fullscreen__work-image-body
      &-body {
        @extend .ibg;
        width: toRem(320);
        display: block;
        padding-bottom: percent(240, 320);
        @include adaptiveValue("width", 320, 220, $maxWidth, $laptop, 1);

        @media (max-width: $md0) {
          padding-bottom: percent(165, 220);
        }

        @media (max-width: $md1) {
          width: toRem(200);
        }
      }
    }

    // .fullscreen__work-content
    &-content {
      padding: toRem(20);
      flex: 1 1 auto;
      // max-width: toRem(200);
      display: flex;
      flex-direction: column;

      @media (max-width: $md1) {
        padding: toRem(16);
      }
    }

    // .fullscreen__work-top
    &-top {
      @extend .text;
      -webkit-text-stroke: 0;
      margin: toRem(0) toRem(0) toRem(40) toRem(0);

      @media (max-width: $md0) {
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
      }
    }

    // .fullscreen__work-main
    &-main {
      flex: 1 1 auto;
      margin: toRem(0) toRem(0) toRem(25) toRem(0);
    }

    // .fullscreen__work-title
    &-title {
      @extend .text;
      text-transform: uppercase;
      margin: toRem(0) toRem(0) toRem(10) toRem(0);
    }

    // .fullscreen__work-text
    &-text {
      @extend .text;
      -webkit-text-stroke: 0;
      text-transform: uppercase;


      @media (max-width: $md1) {
        margin: toRem(0) toRem(0) toRem(20) toRem(0);
      }
    }

    // .fullscreen__work-bottom
    &-bottom {}

    // .fullscreen__work-link
    &-link {
      @extend .text-link;
      @extend .link-underline;
      text-transform: uppercase;
    }
  }

  // .fullscreen__time
  // &__time {
  //   position: absolute;
  //   bottom: toRem(32);
  //   left: toRem(12);
  //   @extend .text;
  // }

  // .fullscreen__bottom-image
  &__bottom-image {
    position: absolute;
    width: clamp(toRem(140), percent(140, $maxWidth), toRem(240));
    bottom: var(--container-padding);
    left: var(--container-padding);

    @media (max-width: $md0) {
      width: clamp(toRem(114), percent(114, $laptop), toRem(200));
    }

    @media (max-width: $md1) {
      width: toRem(114);
      bottom: toRem(16);
      left: var(--container-padding);
    }

    @media (max-width: $md4) {}

    // .fullscreen__bottom-image-body
    &-body {
      @extend .ibg;
      padding-bottom: percent(176, 128);
    }
  }

  // .fullscreen__forms
  &__forms {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: toRem(0) toRem(77);

    @media (max-width: $md0) {
      padding: toRem(0) toRem(54);
    }

    @media (max-width: $md1) {
      padding: toRem(0) var(--container-padding);
    }

  }

  // .fullscreen__form
  &__form {
    width: toRem(23);
    height: toRem(23);
    line-height: 0;
    background-color: $mainColor;
    pointer-events: auto;

    @media (max-width: $md3) {
      width: toRem(12);
      height: toRem(12);
    }
  }

}