@use "sass:math";
@import "mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "fonts.scss";

$fontFamily: "Anonymous Pro";
$secondFamily: 'ExposureTrialVAR';
$thirdFamily: '5by7';


$fontSize: toRem(18);

$letterSpacing: -0.04em;

$mainColor: #141414;
$mainLight: rgba(20, 20, 20, 0.24);
$whiteColor: #fff;
$blueColor: #9CCAE1;

$menuEase: cubic-bezier(0.8, 0, 0.1, 1);

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================
$minWidth: 375;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$containerPadding: 24;
$containerPaddingMob: 12;

$maxHeight: 1080;

// Ширина срабатываемых брейкпоинтов
$containerWidth: $maxWidth - 0.02;
$laptop: 1365.98;
$tablet: 995.98;
$mob: 767.98;
$mobSmall: 479.98;

// Брейк-поинты
$md0: em($containerWidth - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md1: em($laptop - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: em($tablet); // Планшеты, некоторые телефоны в горизонтальном положении
$md3: em($mob); // Телефоны L
$md4: em($mobSmall); // Телефоны S
//====================================================================================================
// Header options
$headerHeight: 50;
$headerMobHeight: 50;



@import "null";

html {
  scroll-behavior: smooth;
  --container-padding: #{toRem($containerPaddingMob)};

  @media (min-width: $md1) {
    --container-padding: #{toRem($containerPadding)};
  }

  @media (max-width: $md3) {
    --menu-mob-height: #{toRem(40)};
    --menu-mob-from-top: #{toRem(100)};
  }
}


body {
  font-weight: 700;
  background-color: $whiteColor;

  overflow: hidden;

  .unlock & {
    overflow: auto;
  }

}

.page {
  // padding: toRem($headerHeight) toRem(0) toRem(0) toRem(0);

  // @media (max-width: $md3) {
  //   padding: toRem($headerMobHeight) toRem(0) toRem(0) toRem(0);
  // }
}

[class*="__container"],
.container {
  // max-width: toRem(1749);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

@import "common";
@import "forms";