.title {
  font-size: toRem(40);
  line-height: 120%;
  font-weight: 700;
}

//====================================================================================================
$ltrSpace: -0.02em;
@mixin textMob () {
  @media (max-width: $md3) {
    font-size: toRem(12);
    line-height: percent(15, 12);
  }
}

@mixin text () {
  font-size: $fontSize;
  letter-spacing: -0.02em;
  line-height: percent(21, 14);
}

.text-pc {
  line-height: percent(21, 14);
  letter-spacing: -0.02em;
}

.text-mob {
  @include textMob;
}

.text {
  @extend .text-pc;
  @extend .text-mob;
}



.nowrap {
  white-space: nowrap;
}

//====================================================================================================

.link-anim {
  display: inline;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: toRem(1);
    bottom: 0;
    left: 0;
    background-color: $redColor;
    transform-origin: right;
    transition: transform 0.3s ease 0s;
    transform: scaleX(0);
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}