@use "sass:math";
@import "mixins.scss";
@import "fonts.scss";

$fontFamily: "FHPremier";
$fontSize: toRem(14);

$mainColor: #1a1a1a;
$bgColor: #fff;
$whiteColor: #f9f8fd;
$grayColor: #c5c5c5;
$grayDullColor: rgba(255, 255, 255, 0.639);
$redColor: #fb262f;
$orangeColor: #df8c47;
$greenColor: #0d7c3b;
$dividerLight: rgba(26, 26, 26, 0.322);
$dividerDark: rgba(255, 255, 255, 0.322);


$menuAnimation: cubic-bezier(0.8, 0, 0.1, 1);


// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================
$minWidth: 320;
$maxWidth: 2048;
$maxWidthContainer: 2000;
$containerPadding: 24;
$containerPaddingMob: 16;

// Ширина срабатываемых брейкпоинтов
$containerWidth: $maxWidthContainer + $containerPadding * 2; // 2048
$desktop: 1440;
$tablet: 1023.98;
$mob: 767.98;
$mobSmall: 479.98;

// Брейк-поинты
$md0: em($maxWidth - 0.02); // ПК
$md1: em($desktop - 0.02); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$md2: em($tablet); // Планшеты, некоторые телефоны в горизонтальном положении
$md3: em($mob); // Телефоны L
$md4: em($mobSmall); // Телефоны S
//====================================================================================================
// Header options
$headerHeight: 88;
$headerMobHeight: 64;

@import "null";

html {
  scroll-behavior: smooth;
  // color-scheme: dark;
}

body {
  &:has(.loaded) {
    background-color: $mainColor;
  }

  &.lock {
    overflow: hidden;
  }
}

[class*="__container"],
.container {
  // max-width: toRem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 toRem($containerPadding);

  @media (max-width: $md3) {
    padding: toRem(0) toRem($containerPaddingMob);
  }
}



@import "common";
@import "forms";