@use 'mixins' as *;
@use 'defaults' as *;

.nowrap {
  white-space: nowrap;
}

.ibg {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.block {
  display: block;
}

//====================================================================================================
.mob {
  @media (min-width: $md3) {
    display: none;
  }
}

//====================================================================================================
// .block-mob {
//   @media (max-width: $md3) {
//     display: block;
//   }
// }

//====================================================================================================
// TITLES
.title {
  font-family: $secondFamily;
  font-size: toRem(40);
  line-height: 120%;
  font-weight: 400;
  font-variation-settings: "EXPO" -55;
}

.title2 {
  font-family: $secondFamily;
  font-size: toRem(22);
  line-height: percent(23, 22);
  font-weight: 400;
  // font-variation-settings: "EXPO" -45;
  // letter-spacing: $letterSpacing;
}

//====================================================================================================
.link-underline {
  // text-decoration: underline;
  // &:link, &:visited{
  //   text-decoration: underline;
  // }
  position: relative;

  // @media (any-hover: hover) {
  //   &:hover {
  //     &::after {
  //       opacity: 0;
  //       visibility: hidden;
  //     }
  //   }
  // }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 10%;
    // bottom: 0;
    left: 0;
    height: toRem(1);
    background-color: currentColor;
    // @include transMultiple(opacity visibility, $trsDur, ease, 0s);
  }
}
.link-underline2 {
  // text-decoration: underline;
  // &:link, &:visited{
  //   text-decoration: underline;
  // }
  position: relative;

  // @media (any-hover: hover) {
  //   &:hover {
  //     &::after {
  //       opacity: 0;
  //       visibility: hidden;
  //     }
  //   }
  // }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0%;
    // bottom: 0;
    left: 0;
    height: toRem(1);
    background-color: currentColor;
    // @include transMultiple(opacity visibility, $trsDur, ease, 0s);
  }
}
//====================================================================================================

.block-tablet{
  @media (max-width: $md1) {
      display: block;
  }
}