@use "sass:math";
@use "null";
@use "abstract" as *;
@use "forms";





$scrollbarWidth: 10;

html {
  scroll-behavior: smooth;
  // &:not(:has(.main)) {
  //   scrollbar-gutter: stable;
  // }
  --scrollbar-right: #{toRem($scrollbarWidth)};

  &:not(:has(.main)) {
    --scrollbar-right-active: #{toRem($scrollbarWidth)};
  }

  --container-padding: #{toRem($containerPaddingMob)};

  @media (min-width: $md1) {
    --container-padding: #{toRem($containerPadding)};
  }

  @media (max-width: $md3) {
    --menu-mob-height: #{toRem(40)};
    --menu-mob-from-top: #{toRem(100)};
  }
}

@media (any-hover: hover) {
  ::-webkit-scrollbar {
    width: var(--scrollbar-right);
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


body {
  font-weight: 700;
  background-color: $whiteColor;

  overflow: hidden;

  &:not(:has(.main)) {}

  .app__wrapper-cover {
    @media (any-hover: hover) {
      padding: 0px var(--scrollbar-right-active) 0px 0px;
    }
  }

  .unlock & {
    overflow: auto;
    --scrollbar-right-active: 0;
    // .app__wrapper-cover,
    // .header:not(.bigger) {
    //   padding: 0px 0px 0px 0px;
    // }
  }

}

.page {
  // padding: toRem($headerHeight) toRem(0) toRem(0) toRem(0);

  // @media (max-width: $md3) {
  //   padding: toRem($headerMobHeight) toRem(0) toRem(0) toRem(0);
  // }
}

[class*="__container"],
.container {
  // max-width: toRem(1749);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}